<div class="bg-black text-white rounded-t-3xl h-64 flex justify-evenly pt-16 text-base">
    <div class="flex flex-col">
      <div>Contact us</div>
      <div class="text-gray-400 mt-6 mb-3">Call us: 8088954323</div>
      <div class="text-gray-400 my-3 mb-6">Email us:sales@steracare.com</div>
      <div>Query/ FAQ</div>
    </div>
    <div>
      <div>About us</div>
      <div class="my-6">Product</div>
      <div>Features</div>
    </div>
    <div>
      <div>Specifications</div>
      <div class="my-6">Warranty and Support</div>
      <div>Blog</div>
    </div>
    <div>
      <div>Social Media</div>
      <div class="flex justify-start mt-4">
        <img src="assets/facebook.svg" alt="facebook logo"/>
        <img src="assets/instagram.svg" alt="instagram logo" class="mx-4"/>
        <img src="assets/linkedin.svg" alt="linkedin logo"/>
      </div>
    </div>
  </div>
  