
<!-- insta stories -->
<div class="-mt-60">
    <div class="flex justify-center text-3xl font-semibold">
      <div>Stera</div>
      <img src="assets/instagram.svg" alt="instagram logo" class="mx-2" />
      <div>Stories</div>
    </div>
    <div class="flex justify-center mx-32 my-10">
      <img src="assets/insta.png" alt="instagram stories" class="w-5/6" />
    </div>
    <div class="flex justify-center mt-28 mb-20 text-gray-500 text-xl font-semibold">
      <div>Email us: sales@steracare.com</div>
    </div>
  </div>
  