<div class="overflow-hidden">
  <div class="flex justify-center">
  <div class="absolute my-3 bg-pink-50 rounded-3xl" style="width: 97vw">
    <img
      src="assets/main_diagonal_path.svg"
      class="h-screen"
      class="ml-60"
      alt="path"
    />
  </div>
</div>
  <div class="relative z-10">
    <app-nav class="relative z-20"></app-nav>
    <app-main></app-main>
    <app-feature class="about"></app-feature>
    <app-effecient></app-effecient>
    <app-modes></app-modes>
    <app-sleekest></app-sleekest>
    <app-inner></app-inner>
    <app-objectlist></app-objectlist>
    <app-purchase></app-purchase>
    <app-youtube></app-youtube>
    <app-press></app-press>
    <app-instagram></app-instagram>
    <app-footer class="contact"></app-footer>
  </div>
</div>
